@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@media (min-width: 375px) and (max-width: 1440px) {
    main{
        max-width: 90%;
    }
    
}
body{
    background-color: hsl(212, 45%, 89%);
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100vh;

    
}
main{
    
   background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
     /* reduzido de 80% */
    height: auto; /* ajusta ao conteúdo, removendo altura fixa */
    margin-top: 0;
     max-height: 400px; /* adicionado para limitar altura */
    margin-top: 0;
    max-width: 200px; /* adicionado para limitar largura */
     margin-left: auto; /* centraliza horizontalmente */
    margin-right: auto; /* centraliza horizontalmente */
    margin-top: auto;
    margin-bottom: auto;



    
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    font-weight: 100;
    
}
.descrição{
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    color: hsl(218, 44%, 22%);
    
}
.paragrafo{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;   
    color: hsl(216, 15%, 48%);
}
.titulos{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-top: 5px;
    margin-bottom: 5px;
}  
.qr-code{
    width: 200px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
a{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color:hsl(218, 44%, 22%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
footer{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: hsl(220, 15%, 55%);
   

 
}